.sidebar-button:hover .sidebar-button:selected {

}

.sidebar-button {
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-border-width: 0;
}

.button {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.results .table-column {
    /*    -fx-alignment: center;*/
}

#sidebar {
    -fx-background-color: darkgrey;
}

.table-view{
    /*-fx-background-color: rgba(0,0,0,0.1);*/
}

.table-row-cell:focused {
    /*-fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);*/
    -fx-text-fill: white;
}

.noheader .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}